.lmb_hrc_fil1 {fill:none}
.lmb_hrc_fil28 {fill:#FEFEFE}
.lmb_hrc_fil44 {fill:#EBDDE2}
.lmb_hrc_fil41 {fill:#E6E7E6}
.lmb_hrc_fil50 {fill:#999999}
.lmb_hrc_fil46 {fill:#616161}
.lmb_hrc_fil51 {fill:#79da41} /* lmb_hrc window_glass color */
.lmb_hrc_fil26 {fill:#282829}
.lmb_hrc_fil3 {fill:#282829}
.lmb_hrc_fil43 {fill:#292929}
.lmb_hrc_fil2 {fill:black}
.lmb_hrc_fil33 {fill:black}
.lmb_hrc_fil27 {fill:#216fca} /* lmb_hrc body_paint color */
.lmb_hrc_fil42 {fill:#2A3539}
.lmb_hrc_fil31 {fill:#3F5563}
.lmb_hrc_fil0 {fill:#999999}
.lmb_hrc_fil35 {fill:#BCC5CE}
.lmb_hrc_fil34 {fill:white}
.lmb_hrc_fil48 {fill:#FEFEFE;fill-rule:nonzero}
.lmb_hrc_fil45 {fill:#282829;fill-rule:nonzero}
.lmb_hrc_fil20 {fill:#040404;fill-rule:nonzero}
.lmb_hrc_fil9 {fill:#282829;fill-rule:nonzero}
.lmb_hrc_fil10 {fill:#292929;fill-rule:nonzero}
.lmb_hrc_fil17 {fill:#350700;fill-rule:nonzero}
.lmb_hrc_fil19 {fill:#373435;fill-rule:nonzero}
.lmb_hrc_fil12 {fill:#3F4040;fill-rule:nonzero}
.lmb_hrc_fil32 {fill:#607785;fill-rule:nonzero}
.lmb_hrc_fil6 {fill:#616161;fill-rule:nonzero}
.lmb_hrc_fil13 {fill:#745012;fill-rule:nonzero}
.lmb_hrc_fil8 {fill:#81949B;fill-rule:nonzero}
.lmb_hrc_fil5 {fill:#999999;fill-rule:nonzero}
.lmb_hrc_fil47 {fill:#AEB7C0;fill-rule:nonzero}
.lmb_hrc_fil15 {fill:#D19300;fill-rule:nonzero}
.lmb_hrc_fil21 {fill:#DBDE35;fill-rule:nonzero}
.lmb_hrc_fil14 {fill:#E4AA00;fill-rule:nonzero}
.lmb_hrc_fil11 {fill:#E6E7E6;fill-rule:nonzero}
.lmb_hrc_fil16 {fill:#F8C311;fill-rule:nonzero}
.lmb_hrc_fil18 {fill:white;fill-rule:nonzero}
.lmb_hrc_fil40 {fill:url(#id132)}
.lmb_hrc_fil39 {fill:url(#id133)}
.lmb_hrc_fil49 {fill:url(#id134)}
.lmb_hrc_fil36 {fill:url(#id135)}
.lmb_hrc_fil29 {fill:url(#id136)}
.lmb_hrc_fil37 {fill:url(#id137)}
.lmb_hrc_fil38 {fill:url(#id138)}
.lmb_hrc_fil30 {fill:url(#id139);fill-rule:nonzero}
.lmb_hrc_fil25 {fill:url(#id140);fill-rule:nonzero}
.lmb_hrc_fil22 {fill:url(#id141);fill-rule:nonzero}
.lmb_hrc_fil4 {fill:url(#id142);fill-rule:nonzero}
.lmb_hrc_fil7 {fill:url(#id143);fill-rule:nonzero}
.lmb_hrc_fil23 {fill:url(#id144);fill-rule:nonzero}
.lmb_hrc_fil24 {fill:url(#id145);fill-rule:nonzero}