.yzf_r3_fil1 {fill:none}
.yzf_r3_fil36 {fill:none}
.yzf_r3_fil204 {fill:none}
.yzf_r3_fil18 {fill:#373435}
.yzf_r3_fil45 {fill:#373435}
.yzf_r3_fil17 {fill:black}
.yzf_r3_fil19 {fill:#161616}
.yzf_r3_fil63 {fill:#161616}
.yzf_r3_fil7 {fill:#1B1B1B}
.yzf_r3_fil5 {fill:#1B1B1B}
.yzf_r3_fil202 {fill:#2439B0}
.yzf_r3_fil23 {fill:#282828}
.yzf_r3_fil4 {fill:#2B2B2B}
.yzf_r3_fil200 {fill:#302C2C}
.yzf_r3_fil199 {fill:#362D2D}
.yzf_r3_fil198 {fill:#3B2E2F}
.yzf_r3_fil197 {fill:#412F30}
.yzf_r3_fil196 {fill:#463031}
.yzf_r3_fil195 {fill:#4B3132}
.yzf_r3_fil11 {fill:#4B4B4B}
.yzf_r3_fil10 {fill:#4B4B4B}
.yzf_r3_fil194 {fill:#513233}
.yzf_r3_fil193 {fill:#563334}
.yzf_r3_fil27 {fill:#5B5B5B}
.yzf_r3_fil22 {fill:#5B5B5B}
.yzf_r3_fil192 {fill:#5C3436}
.yzf_r3_fil191 {fill:#613537}
.yzf_r3_fil190 {fill:#663638}
.yzf_r3_fil189 {fill:#6C3739}
.yzf_r3_fil188 {fill:#71383A}
.yzf_r3_fil44 {fill:#737373}
.yzf_r3_fil187 {fill:#76393B}
.yzf_r3_fil186 {fill:#7C3A3D}
.yzf_r3_fil62 {fill:#7D7D7D}
.yzf_r3_fil185 {fill:#813B3E}
.yzf_r3_fil184 {fill:#873D3F}
.yzf_r3_fil183 {fill:#8C3E40}
.yzf_r3_fil182 {fill:#913F41}
.yzf_r3_fil181 {fill:#974043}
.yzf_r3_fil0 {fill:#999999}
.yzf_r3_fil180 {fill:#9A4043}
.yzf_r3_fil179 {fill:#9B4144}
.yzf_r3_fil178 {fill:#9C4144}
.yzf_r3_fil177 {fill:#9D4145}
.yzf_r3_fil176 {fill:#9E4245}
.yzf_r3_fil175 {fill:#9F4246}
.yzf_r3_fil174 {fill:#A04246}
.yzf_r3_fil173 {fill:#A14347}
.yzf_r3_fil172 {fill:#A24347}
.yzf_r3_fil171 {fill:#A34448}
.yzf_r3_fil170 {fill:#A44448}
.yzf_r3_fil169 {fill:#A54449}
.yzf_r3_fil168 {fill:#A64549}
.yzf_r3_fil167 {fill:#A7454A}
.yzf_r3_fil166 {fill:#A8454A}
.yzf_r3_fil165 {fill:#A9464B}
.yzf_r3_fil164 {fill:#AA464B}
.yzf_r3_fil163 {fill:#AB474C}
.yzf_r3_fil162 {fill:#AC474C}
.yzf_r3_fil161 {fill:#AD474D}
.yzf_r3_fil160 {fill:#AE484D}
.yzf_r3_fil159 {fill:#AF484E}
.yzf_r3_fil158 {fill:#B0484E}
.yzf_r3_fil157 {fill:#B1494F}
.yzf_r3_fil156 {fill:#B2494F}
.yzf_r3_fil155 {fill:#B34950}
.yzf_r3_fil154 {fill:#B44A50}
.yzf_r3_fil153 {fill:#B54A51}
.yzf_r3_fil6 {fill:#B5B5B5}
.yzf_r3_fil41 {fill:#B5B5B5}
.yzf_r3_fil152 {fill:#B64B51}
.yzf_r3_fil151 {fill:#B74B52}
.yzf_r3_fil150 {fill:#B84B52}
.yzf_r3_fil149 {fill:#B94C53}
.yzf_r3_fil148 {fill:#BA4C53}
.yzf_r3_fil147 {fill:#BB4C54}
.yzf_r3_fil146 {fill:#BC4D54}
.yzf_r3_fil145 {fill:#BD4D55}
.yzf_r3_fil144 {fill:#BE4E55}
.yzf_r3_fil143 {fill:#C04E56}
.yzf_r3_fil142 {fill:#C14E56}
.yzf_r3_fil141 {fill:#C24F57}
.yzf_r3_fil140 {fill:#C34F57}
.yzf_r3_fil139 {fill:#C44F58}
.yzf_r3_fil138 {fill:#C55058}
.yzf_r3_fil137 {fill:#C65059}
.yzf_r3_fil136 {fill:#C75159}
.yzf_r3_fil135 {fill:#C8515A}
.yzf_r3_fil134 {fill:#C9515A}
.yzf_r3_fil209 {fill:#C9C9C9}
.yzf_r3_fil133 {fill:#CA525B}
.yzf_r3_fil132 {fill:#CB535C}
.yzf_r3_fil131 {fill:#CC535C}
.yzf_r3_fil42 {fill:#CCCCCC}
.yzf_r3_fil130 {fill:#CD545D}
.yzf_r3_fil129 {fill:#CE545D}
.yzf_r3_fil128 {fill:#CF555E}
.yzf_r3_fil127 {fill:#D0555E}
.yzf_r3_fil126 {fill:#D1555F}
.yzf_r3_fil125 {fill:#D2565F}
.yzf_r3_fil124 {fill:#D35660}
.yzf_r3_fil123 {fill:#D45760}
.yzf_r3_fil122 {fill:#D55761}
.yzf_r3_fil121 {fill:#D55861}
.yzf_r3_fil120 {fill:#D65862}
.yzf_r3_fil119 {fill:#D75962}
.yzf_r3_fil21 {fill:#D78E5B}
.yzf_r3_fil201 {fill:#D78E5B}
.yzf_r3_fil118 {fill:#D85963}
.yzf_r3_fil117 {fill:#D95A63}
.yzf_r3_fil28 {fill:#D9D9D9}
.yzf_r3_fil15 {fill:#D9D9D9}
.yzf_r3_fil116 {fill:#DA5A64}
.yzf_r3_fil115 {fill:#DB5A64}
.yzf_r3_fil114 {fill:#DC5B65}
.yzf_r3_fil113 {fill:#DD5B65}
.yzf_r3_fil112 {fill:#DE5C66}
.yzf_r3_fil111 {fill:#DF5C66}
.yzf_r3_fil64 {fill:#E05A65}
.yzf_r3_fil110 {fill:#E05D67}
.yzf_r3_fil65 {fill:#E15A65}
.yzf_r3_fil66 {fill:#E15B66}
.yzf_r3_fil109 {fill:#E15E68}
.yzf_r3_fil67 {fill:#E25B66}
.yzf_r3_fil68 {fill:#E25C67}
.yzf_r3_fil108 {fill:#E25E68}
.yzf_r3_fil69 {fill:#E35C67}
.yzf_r3_fil107 {fill:#E35F69}
.yzf_r3_fil70 {fill:#E45C67}
.yzf_r3_fil71 {fill:#E45D68}
.yzf_r3_fil106 {fill:#E45F69}
.yzf_r3_fil72 {fill:#E55D68}
.yzf_r3_fil73 {fill:#E55E69}
.yzf_r3_fil105 {fill:#E5606A}
.yzf_r3_fil74 {fill:#E65E69}
.yzf_r3_fil104 {fill:#E6606A}
.yzf_r3_fil75 {fill:#E75E69}
.yzf_r3_fil76 {fill:#E75F6A}
.yzf_r3_fil103 {fill:#E7606B}
.yzf_r3_fil77 {fill:#E85F6A}
.yzf_r3_fil78 {fill:#E8606B}
.yzf_r3_fil102 {fill:#E8616B}
.yzf_r3_fil79 {fill:#E9606B}
.yzf_r3_fil101 {fill:#E9616C}
.yzf_r3_fil80 {fill:#EA606B}
.yzf_r3_fil81 {fill:#EA616C}
.yzf_r3_fil100 {fill:#EA626C}
.yzf_r3_fil99 {fill:#EA626D}
.yzf_r3_fil82 {fill:#EB616C}
.yzf_r3_fil83 {fill:#EB626D}
.yzf_r3_fil98 {fill:#EB636D}
.yzf_r3_fil84 {fill:#EC626D}
.yzf_r3_fil97 {fill:#EC636E}
.yzf_r3_fil85 {fill:#ED626D}
.yzf_r3_fil86 {fill:#ED636E}
.yzf_r3_fil96 {fill:#ED646E}
.yzf_r3_fil87 {fill:#EE636E}
.yzf_r3_fil88 {fill:#EE646F}
.yzf_r3_fil12 {fill:#EEEEEE}
.yzf_r3_fil210 {fill:#EEEEEE}
.yzf_r3_fil89 {fill:#EF646F}
.yzf_r3_fil95 {fill:#EF656F}
.yzf_r3_fil90 {fill:#F0646F}
.yzf_r3_fil91 {fill:#F06570}
.yzf_r3_fil92 {fill:#F16570}
.yzf_r3_fil93 {fill:#F16671}
.yzf_r3_fil94 {fill:#F26671}
.yzf_r3_fil16 {fill:white}
.yzf_r3_fil205 {fill:#363630}
.yzf_r3_fil29 {fill:#373435;fill-rule:nonzero}
.yzf_r3_fil32 {fill:#373435;fill-rule:nonzero}
.yzf_r3_fil31 {fill:black;fill-rule:nonzero}
.yzf_r3_fil20 {fill:#161616;fill-rule:nonzero}
.yzf_r3_fil33 {fill:#1B1B1B;fill-rule:nonzero}
.yzf_r3_fil43 {fill:#5B5B5B;fill-rule:nonzero}
.yzf_r3_fil30 {fill:#737373;fill-rule:nonzero}
.yzf_r3_fil37 {fill:white;fill-rule:nonzero}
.yzf_r3_fil38 {fill:#5B5B5B;fill-opacity:0.5}
.yzf_r3_fil39 {fill:#C9C9C9;fill-opacity:0.5}
.yzf_r3_fil203 {fill:#3b3b3b;fill-opacity:0.4}
.yzf_r3_fil3 {fill:url(#id235)}
.yzf_r3_fil25 {fill:url(#id236)}
.yzf_r3_fil40 {fill:url(#id237)}
.yzf_r3_fil2 {fill:url(#id238)}
.yzf_r3_fil34 {fill:url(#id239)}
.yzf_r3_fil35 {fill:url(#id240)}
.yzf_r3_fil207 {fill:url(#id241)}
.yzf_r3_fil24 {fill:url(#id242)}
.yzf_r3_fil8 {fill:url(#id243)}
.yzf_r3_fil9 {fill:url(#id244)}
.yzf_r3_fil51 {fill:url(#id245)}
.yzf_r3_fil57 {fill:url(#id246)}
.yzf_r3_fil56 {fill:url(#id247)}
.yzf_r3_fil60 {fill:url(#id248)}
.yzf_r3_fil58 {fill:url(#id249)}
.yzf_r3_fil26 {fill:url(#id250)}
.yzf_r3_fil46 {fill:url(#id251)}
.yzf_r3_fil59 {fill:url(#id252)}
.yzf_r3_fil49 {fill:url(#id253)}
.yzf_r3_fil61 {fill:url(#id254)}
.yzf_r3_fil55 {fill:url(#id255)}
.yzf_r3_fil54 {fill:url(#id256)}
.yzf_r3_fil48 {fill:url(#id257)}
.yzf_r3_fil206 {fill:url(#id258)}
.yzf_r3_fil53 {fill:url(#id259)}
.yzf_r3_fil52 {fill:url(#id260)}
.yzf_r3_fil47 {fill:url(#id261)}
.yzf_r3_fil13 {fill:url(#id262)}
.yzf_r3_fil208 {fill:url(#id263)}
.yzf_r3_fil50 {fill:url(#id264)}
.yzf_r3_fil14 {fill:url(#id265)}

#front_wheel,
#back_wheel {
	animation: rotate 3s linear infinite;
}

#front_wheel {
	transform-origin: 1116.4px 542.2px;
}

#back_wheel {
	transform-origin: 375px 529px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(800deg);
  }
}